<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VokalaSoftware.Properties.Settings.VokalaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Vokala.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.ParvandeR1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ParvandeR1.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.ParvandeR2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ParvandeR2.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.ParvandeR3ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ParvandeR3.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.ParvandeR4ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ParvandeR4.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.ParvandeR5ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ParvandeR5.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.ParvandeR6ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ParvandeR6.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="VokalaSoftware.Properties.Settings.MeetingConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Meeting.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="VokalaSoftware.Properties.Settings.MeetingsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Meetings.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>